'<div class="comment"> \
    <div class="callout secondary comment-header"> \
        Создано \
        <%= comment.created_at %> пользователем <%= user_name %> \
        <div class="user-score show-score" data-score=<%= user_score %> > </div> \
    </div> \
    <div class="callout comment-content"> \
        <%= comment.content %> \
    </div> \
</div>'