.garage-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

    .map-container {
        width: 60%;
        height: 40%;
        
        #map.form-map {
            height: 100%;
        }
    }


    form {
        display: flex;
        flex-flow: row wrap;
        width: 50%;

        .field {
            flex: 1 100%;

            &.working-days {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                margin: 10px 0 20px;

                .week-day {
                    width: 40px;
                    height: 30px;
                    background-color: lightgrey;
                    text-align: center;
                    cursor: pointer;
                    color: whitesmoke;
                    line-height: 1.8;
                    
                    &.chosen {
                        border: 1px solid gray;
                        background-color: darkgray;
                    }

                    & ~ .week-day {
                        margin-left: 4%;
                    }
                }
            }
        }

        .field.half-field {
            flex: 2 45%;

            &:nth-child(2n) {
                margin-left: 10px;
            }
        }

        label.error {
            color: red;
        }
    }
}