// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;

    header {
        height: 20vh;
        background: url(logo.svg) 2em 2em no-repeat;
        background-size: 7%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .flex-item {
            flex: 2 30px;
            margin-left: 25%;

            & ~ .flex-item {
                margin-left: 15%;
            }

            &.top-links {
                height: 55px;
            }
        }
    }

    & > * {
        padding: 10px;
        flex: 1 100%;
    }
    #map {
        height: 65vh;
    }

    .leaflet-google-layer {
        z-index: 0 !important;
    }
    .leaflet-map-pane {
        z-index: 100;
    }
}
